<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>728078945825-ecu7obdnmqmf95fsrfjguribee54thon.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.728078945825-ecu7obdnmqmf95fsrfjguribee54thon</string>
	<key>API_KEY</key>
	<string>AIzaSyC1U35eGDKepL_m0FmMS6hN-xZJXtGrJN4</string>
	<key>GCM_SENDER_ID</key>
	<string>728078945825</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nzue.avauserapp</string>
	<key>PROJECT_ID</key>
	<string>ecity-ac116</string>
	<key>STORAGE_BUCKET</key>
	<string>ecity-ac116.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:728078945825:ios:8b76b36ff5c8c99b295d60</string>
	<key>DATABASE_URL</key>
	<string>https://ecity-ac116.firebaseio.com</string>
</dict>
</plist>